.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.modal-content {
    width: 450px;
    max-height: 90vh;
    /* Sets a max height */
    overflow-y: auto;
    /* Makes it scrollable */
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.modal-content h2 {
    padding-bottom: 10px;
    border-bottom: 2px solid #f0f0f0;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #f0f0f0;
}



/* Card Styles */
.card {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
}

.card-header h2 {
    font-size: 1.5rem;
    margin: 0;
}

.card-header a {
    background-color: #27ab34;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 12px;
    text-decoration: none;
}

.card-body {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding-top: 15px;
    margin-bottom: 15px;
}


table th,
table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}



table th {
    background-color: #faeded;
    /* Blue */
    font-size: 14px;
}

table td {
    background-color: #ffffff;
    font-size: 14px;
}


table tr {
    background-color: #f1f1f1;
}



table .btn {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
}

table .btn-warning {
    background-color: #f39c12;
    color: white;
}

table .btn-warning:hover {
    background-color: #e67e22;
}

table .btn-danger {
    background-color: #e74c3c;
    color: white;
}

table .btn-danger:hover {
    background-color: #c0392b;
}

.no-found {
    text-align: center;
    padding: 20px;
    color: #777;
    font-style: italic;
    font-size: 14px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 1rem;
    margin-bottom: 5px;
}

.excelUploadForm {
    margin-bottom: 10px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    /* spacing between buttons */
    margin-top: 10px;
}

.form-group input,
.form-group textarea {
    width: 95%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #3498db;
}

.btn-success {
    background-color: #2ecc71;
    color: white;
}

.btn-success:hover {
    background-color: #27ae60;
}


.actionss-column {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* space between buttons */
}



@media screen and (max-width: 768px) {

    .contact-person-column,
    .description-column,
    .email-column,
    .status-column,
    .actions-column,
    .actionss-column {
        display: none !important;
    }


}